/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QWERTY_L 0
#define DVORAK_L 1
#define COLEMK_L 2
#define SYM_L    3
#define NUM_L    4
#define ADJ_L    5
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            /* COLEMAK-DH
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   F   |   P   |   B   |-----------------------------------|   J   |   L   |   U   |   Y   |   ;   | BKSPC |
 * | TAB   |   A   |   R   |   S   |   T   |   G   |-----------------------------------|   M   |   N   |   E   |   I   |   O   | ENTER |
 * | SHIFT |   Z   |   X   |   C   |   D   |   V   | CAPS  |-------------------|  ESC  |   K   |   H   |   ,   |   .   |   /   | SHIFT |
 * ----------------| CTRL  |-------|  GUI  |  ALT  | SPACE |  Sym  |---|  Num  | SPACE |  ALT  |  GUI  |-------|   '   |----------------
 */

            bindings = <
&kp GRAVE  &kp Q  &kp W      &kp F  &kp P     &kp B                                         &kp J     &kp L     &kp U      &kp Y    &kp SEMI   &kp BSPC
&kp TAB    &kp A  &kp R      &kp S  &kp T     &kp G                                         &kp M     &kp N     &kp E      &kp I    &kp O      &kp ENTER
&kp LSHFT  &kp Z  &kp X      &kp C  &kp D     &kp V     &kp CAPS                 &kp ESC    &kp K     &kp H     &kp COMMA  &kp DOT  &kp SLASH  &kp RSHFT
                  &kp LCTRL         &kp LGUI  &kp LALT  &kp SPACE  &mo 0  &mo 0  &kp SPACE  &kp LALT  &kp RGUI             &kp SQT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
