/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_48keys_hillside.h"

/* map the hillside48's extra keys */
#define X_LT    &kp TAB
#define X_RT    &kp BACKSLASH

#define X_LM    &kp ESC
#define X_RM    &kp ENTER

#define X_LB    &kp LSHFT
#define X_MB    &kp O &kp I
#define X_RB    &kp U

#define X_LH    &kp A &kp B
#define X_MH    &kp R &kp S
#define X_RH    &kp D &kp E

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"
